.layui-form-label {
    top: -6px;
}

.top-box {
    margin: 0;
    text-align: center;
}

.layui-form-label {
    font-size: 12px;
    color: #555555;
}

.layui-inline {
    width: 500px;
}

.layui-input {
    width: 350px;
}

.layui-form {
    margin-top: 40px;
}
/* layui 下拉主题颜色 */
.layui-form-select dl dd.layui-this{
    background-color: #fcae14; 
}

.top-box>form>ul>li>span{
    font-size: 12px;
    color: #555555;
    width: 47px;
    height: 11px;
    margin-right: 10px;
}
.top-box>form>ul>li{
    margin-bottom: 30px;
}
.top-box>form>ul>li>select{
    width:236px;
}

.content-div{
    box-shadow: 0px 2px 4px 0px 
    rgba(0, 0, 0, 0.1);
    height: 350px;
}
.buttom-box>button{
    position: relative;
    margin:15px 20px 0 20px; 
    width: 150px;
	height: 40px;
	border-radius: 3px;
}
.quxiao{
    border: solid 1px #666666;
    background-color: #ffffff;
    border-color:#666666; 
}
.queren{
    background-color: #ff4d7d;
    border-radius: 3px;
    border:1px solid #ff4d7d;
    color: #ffffff;
}