.div-box{
    width: 706px;
    height: 440px;
    border: 0 0 1px 0;
    position: absolute;
    left: -5px;
    box-shadow: 4px 2px 4px 0px 
    rgba(0, 0, 0, 0.1);
}
.content-div{
    width: 600px;
    margin: 0 auto;
}
.content-div>span{
    color: #666666;
    display: block;
    position: relative;
    margin: 20px 0;
}

.layui-input{
    background-color: #f8f8f9;
    border-radius: 5px;
    border: solid 1px #eeeeee;
}

.txtarea{
    width: 581px;
    height: 148px;
    background-color: #f8f8f9;
    border-radius: 5px;
    border: solid 1px #eeeeee;
    padding: 10px;
    resize: none;
}
