body{
	background-color:#fafcff; 
}
textarea{
	resize:none;
	outline:none
}
/* layui 下拉主题颜色 */
.layui-form-select dl dd.layui-this{
	background-color: #fcae14; 
}
/*导航条样式*/
.header{
	width: 100%;
	height: 70px;
	background-color: #ff4d7d;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 999;

}
.heder-box{
	width: 1200px;
	/*border: 1px solid #5b5fc2;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70px;
	line-height: 70px;
}
.logo{
	font-size: 33px;
	color: #FFFFFF;
}
.nav-div-box>ul{
	height: 70px;
	position: relative;
	margin-left: 200px;
}
.nav-div-box>ul>li{
	float: left;
	width: 100px;
	text-align: center;
	
}
.nav-div-box>ul>li>a{
	font-size: 16px;
	color: #FFFFFF;
	display: block;
}
.user-div{
	width: 142px;
	text-align: center;
	position: relative;
}
.user-div span{
	font-size: 16px;
	color: #FFFFFF;
}
.user-info{
	position: absolute;
	width: 142px;
	height: 112px;
	background-color: #ffffff;
	box-shadow: 0px 1px 10px 0px 
		rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 5px 5px;
	display: none;
}
.user-info>ul>li{
	height: 56px;
	text-align: center;
	line-height: 56px;
	cursor: pointer;
}
.user-info>ul>li:nth-child(1){
	border-bottom:  solid 1px #d3d3d3;
}

/*内容盒子*/
.content-div-box{
	width: 1200px;
	margin: 0 auto;
	/*border: 1px solid grey;*/
	margin-top: 80px;
}

 /* layui 按钮样式修改 */
 .layui-layer-btn .layui-layer-btn1{
	width: 150px;
	height: 40px;
	background-color: #ff4d7d !important;
	border-radius: 3px;
	border-color: #ff4d7d !important;
	color:#ffffff;
}
.layui-layer-btn .layui-layer-btn0{
	background-color:#ffffff !important;
	color: #666666 !important;
}
.layui-layer-btn a{
	width: 150px;
	height: 40px !important;
	border-radius: 3px !important;
	border: solid 1px #666666 !important;
	line-height: 40px !important;
	font-size: 16px;
	margin: 5px 30px 0 !important;
}
.layui-layer-btn.layui-layer-btn-c{
	border-top:0px;
}
 /* layui 按钮样式修改 */
 
/* layui 分页样式修改 */
.layui-laypage-molv{
	width: 1000px;
	text-align: right;
}
.layui-laypage-count{
	float: left;
}
.layui-form-label{
	font-size: 16px;
}
/* layui 隔行变色主题修改 */
.layui-table thead tr, .layui-table-header, .layui-table-tool, .layui-table-patch, .layui-table-mend, .layui-table[lay-even] tr:nth-child(even), .layui-table tbody tr:hover, .layui-table-hover, .layui-table-click{
	background-color: #fff6f8;
	color: #98a2ba;
}